transformers==4.47.1
#peft
accelerate
#bitsandbytes==0.45.0
pandas
numpy
scikit-learn
matplotlib
langchain
langchain_community
langchain_experimental
langchain_huggingface
#deepseek-cpu
streamlit
beautifulsoup4
python-dotenv
newspaper3k
chardet
sentence_transformers
bitsandbytes